---
import Layout from '../layouts/Layout.astro';

// if not signed in
// do sign in



---

<Layout title="Add Something ToDo" description="TODO">
	<main>
		<h1>Add Something ToDo</h1>

		<form action="/add-todo" method="POST">
			<label for="todo">Your ToDo</label>
			<input id="todo" name="todo" type="text" value="" placeholder="Go for a walk" required>
			<input type="hidden" name="user_id" value="USER_ID_WHEN_AVAILABLE" >
			<button type="submit">Add ToDo</button>
		</form>

		<p>Fun fact, you'll never see your ToDo again. It's gone forever.</p>
	
	</main>
</Layout>
