---
import Layout from '../layouts/Layout.astro';
import { GET } from './api/get-todos.json.js'
import { ToDos } from "../components/ToDos.jsx"

const response = await GET(Astro)
const data = await response.json()

const { url } = Astro;
const success = url.searchParams.get("success");
---

<Layout title="Browse Something ToDo" description="Browse ToDos that other people want you to do.">
	<script>
		import { getSession } from "../utils/session.js"
		
		const session = await getSession();
		if (session === null) {
			window.location.href = "/sign-in?return=browse";
		}

		if (session !== null) {
			document.querySelector('[data-signed-in]').style.display = "block";
		}
	</script>

	<main>
		{success && (
			<p>Congrats! Your ToDo will be done by somebody else.</p>
		)}

		<div data-signed-in>
			<h1>Browse Something ToDo</h1>
			<p>Click it, if you did it!</p>
			<a href="/add" class="add">Add a ToDo</a>
			<ToDos todos={data.todos} limit={null} client:load />
		</div>
	</main>
</Layout>

<style>
	[data-signed-in] {
		display: none;
	}

	p {
		margin-bottom: 2rem;
		font-style: italic;
	}

	.add {
		background-color: var(--stone);
		color: var(--red);
		font-family: var(--font-heading);
		font-size: 2rem;
		text-decoration: none;
		padding: 0.5rem 1rem;
		border-radius: 2rem;
		text-align: center;
		display: block;
		margin-bottom: 2rem;
	}

	.add:focus, .add:focus-visible {
		outline: transparent;
    outline-style: solid;
    box-shadow: var(--green-dark) 0 0 0 0.08rem, var(--green-light) 0 0 0 0.32rem;
    transition: box-shadow 0.2s ease-in-out;
	}
</style>
