---
import Layout from '../layouts/Layout.astro';
import { ToDo } from '../components/ToDo.jsx';

// if query param = success
// show success message

// query DB for all todos NOT by current user


---

<Layout title="Browse Find Something ToDo" description="TODO">
	<script>
		import { getSession } from "../utils/session.js"
		
		const session = await getSession();
		// this is what we will store in DB row when user adds a todo
		// console.log(session.user.id)
		if (session === null) {
			window.location.href = "/sign-in?return=browse";
		}
		// get all todos from database
		// where userID is NOT current signed in user
		if (session !== null) {
			document.querySelector('[data-signed-in]').style.display = "block";
			document.querySelector('[data-not-signed-in]').style.display = "none";
		}

	</script>
	<main>

		<!-- if success message -->
		<!-- <p>Congrats! Your ToDo will be done by somebody else.</p> -->
		<!-- end if success message -->
		<div data-signed-in>
			<p>Bored?</p>
			<p>Want to procrastinate <em>and</em> look productive?</p>
			<h1>Browse Something ToDo</h1>

			<h2>What people are ToDoing</h2>
			<p>Click it, if you did it.</p>

			<ul>
				<li><ToDo id="TODO_ID" numberOfTimesDone="1" client:load /></li>
				<li><ToDo id="TODO_ID_2" numberOfTimesDone="2" client:load /></li>
			</ul>

			<a href="/add">Add a ToDo</a>

		</div>
	
	</main>
</Layout>

<style>
	[data-signed-in] {
		display: none;
	}
</style>
