---
import Layout from '../layouts/Layout.astro';

// get 9 most recent todos
// call /get-recent-todos
---

<Layout title="Find Something ToDo" description="TODO">
	<main>
		<p>Bored?</p>
		<p>Want to procrastinate <em>and</em> look productive?</p>
		<h1>Find Something ToDo</h1>

		<h2>What people are ToDoing</h2>

		<ul>
			<li>to do 1-9</li>
		</ul>

		<h3>Want to join the party?</h3>
		<div>
			<a href="/add">Add your ToDo</a
		</div>
		<div>
			<a href="/browse">Browse all ToDos</a>
		</div>
	
	</main>
</Layout>
