---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Add Something ToDo" description="TODO">
	
	<script>
		import { initClerk } from "../utils/session.js"
		
		const signInComponent = document.getElementById('sign-in');
		const returnUrl = `${window.location.origin}/${window.location.search.replace("?return=", "")}`;
		const clerk = initClerk();
		await clerk.load({});
		clerk.mountSignIn(signInComponent, {
			afterSignInUrl: returnUrl,
			appearance: {
				baseTheme: "light"
			}
		});
	</script>

	<main>
		<h1>Sign in to Find Something ToDo</h1>
		<p>Put something here about benefits of signing in</p>


		<div
			id="sign-in"
		></div>
	
	</main>
</Layout>
