---
const { currentPath } = Astro.props;
---

<script>
  import { initClerk, getSession } from "../utils/session.js"
  
  const userButtonEl = document.getElementById('user-button');
  const clerk = initClerk();
  await clerk.load({});
  const session = await getSession();

  const data = document.getElementById("data");
  const path = data.getAttribute("data-current-path");
  const returnPath = path === "/" ? "" : path;

  if (session === null) {
    const href = document.createElement("a");
    href.setAttribute("href", `/sign-in?return=${returnPath}`);
    href.setAttribute
    href.textContent = "Sign in";
    userButtonEl.appendChild(href);
  } else {
    clerk.mountUserButton(userButtonEl as HTMLDivElement, {
      signInUrl: `${window.location.origin}`,
      afterSignOutUrl: `${window.location.origin}`}
    );
  }
  

</script>

<header>
  <span id="data" data-current-path={currentPath}></span>
  <nav>
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/add">Add</a>
    <div class="header__userButton" id="user-button"></div>
  </nav>
</header>

<style>

  #user-button {
    display: block;
  }

  nav {
		display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
		justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: auto auto 4rem auto;
	}
</style>